@import "reset";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "content";

@layer base {
  body {
    line-height: 1.5;
    // -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    color: #232323;
    background-color: #f7f7f7;
  }
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 80px;


  @media screen and (max-width: 1023.98px) {
    padding: 0 60px;

  }
}

a {
  text-decoration: none;
  color: inherit;
}

.text-primary {
  color: #a4d96c;
}

.grid-layout {
  display: grid;
  grid-auto-columns: 235px;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 40px;
  }

  @media screen and (max-width: 1023.98px) {
    // grid-auto-columns: unset;

    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    grid-auto-columns: 80%;
    overflow-x: auto;
  }

  &>* {
    scroll-snap-align: start;
  }

  &--primary {
    grid-auto-columns: 220px;

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

.home-block {
  padding-bottom: 40px;

  @media screen and (min-width: 1024px) {
    padding-bottom: 60px;
  }
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.hidden-text {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-layout {
  @apply grid grid-cols-1 lg:gap-x-10 mb-5 lg:mb-10 lg:grid-cols-2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset;
}

.quill {
  position: relative;

  .ql-toolbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
  }
}

.header-shirnk {
  box-shadow: 0 8px 24px rgb(149 157 165 / 40%);
  z-index: 100;
  height: 90px !important;
  box-shadow: 0 8px 24px rgba(149, 157, 165, .4);
  background-color: #f7f7f7;
}

@layer components {
  .menu-mobile {
    @apply transition-all duration-500 absolute top-0 left-0 w-full h-screen bg-gradient-to-b from-gray-50/[.93] to-[#dfecf3ed]/[.93] items-center;
  }
}